/*** COMMAN STYLE here ***/
body{color: #000000;font-size: 14px;}
*,body{font-family: 'Work Sans';}
a{-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;color: #1d3e71;}
.transtion{-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
a:hover{text-decoration: none;color: #e89b4d}
#wrapper{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-webkit-justify-content: space-between;-moz-justify-content: space-between;-ms-justify-content: space-between;-o-justify-content: space-between;justify-content: space-between;-ms-align-items: flex-start;align-items: flex-start;-webkit-flex-direction: column;-moz-flex-direction: column;-ms-flex-direction: column;-o-flex-direction: column;flex-direction: column;min-height: 100vh;}
#content-area{-webkit-flex: 1;-moz-flex: 1;-ms-flex: 1;-o-flex: 1;flex: 1;width: 100%;margin: 0}
.container-fluid{max-width: 1200px;padding-left: 15px;padding-right: 15px;}
img{display: block;margin: 0 auto;padding: 0;max-width: 100%;}
*,*:after,*:before{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:focus{outline: none;outline: 0;}

.form-control{-webkit-border-radius: 0;border-radius: 0}
select.form-control:not([size]):not([multiple]),select.form-control{-webkit-appearance: none;-moz-appearance: none;appearance: none; background-image: url(../images/icon-select.png);background-repeat: no-repeat;background-position: center right;background-position:calc(100% - 12px) center;padding:10px 30px 10px 10px;height: auto;border: none}
input.form-control{line-height: 28px;padding: 8px 15px;border: none}
.form-group{position: relative;}
.form-group label{color: #333333;font-size: 14px;margin: 0 auto 7px}

.btn{border-radius: 5px;font-weight: 500;font-size: 16px;}
.btn-primary{background: #E89B4D;border-color: #e89b4d;color: #fff;}
.btn-primary:hover,.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus,.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{background: #d48330;border-color: #d48330;color: #fff;}

.btn-secondary{border-radius: 0; -webkit-border-radius: 0;}

h2{font-size: 55px;}

.badge{font-family: 'Roboto', sans-serif;font-weight: 700;}
.badge-light{background: #F7F7F7;border-radius: 4px;font-size: 16px;color: #000;padding: 8px 10px}
.price-badge{background: #E89B4D;border-radius: 4px;padding: 8px 10px;color: #fff}
.btn-light{background: #F7F7F7;border-radius: 4px;font-size: 16px;color: #000;border-color: #f7f7f7;}

/*** HEADER STYLE here ***/
header{position: fixed;top: 0; left: 0;width: 100%;padding: 15px 70px;background: #fff;z-index: 99;}
header > div{max-width: 1340px;margin: 0 auto;}
header .flex{-ms-align-items: center;align-items: center;-webkit-justify-content: space-between;-moz-justify-content: space-between;-ms-justify-content: space-between;-o-justify-content: space-between;justify-content: space-between;}
.logo{max-width: 97px;margin: 0;}
.right-nav-area{-webkit-flex: 1;-moz-flex: 1;-ms-flex: 1;-o-flex: 1;flex: 1;margin: 0;text-align: right}
.right-nav-area .user-cred-area{margin: 0 auto;display: inline-block;padding: 0}
.user-cred-area li{display: inline-block;vertical-align: middle;margin:0 auto;padding: 0;padding-left: 50px;}
.user-cred-area li a{display: inline-block;vertical-align: middle;color: #1D3E71;font-size: 16px;position: relative;}
.user-cred-area li a:before{width:0; height: 2px;position: absolute;content: '';bottom: 0;left: 0;background: #E89B4D;top: auto;-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
.user-cred-area li.search-btn a:before{display: none}
.user-cred-area li a:hover:before{width: 100%; }
.user-cred-area li a:hover{color: #E89B4D}

/*** FOOTER STYLE here ***/
footer{display: block;width: 100%; margin: 0;padding: 25px 0}
footer .d-md-flex .flex-item{width: 33.33%;color: #333}
footer .d-md-flex .flex-item:first-child{text-align: left}
footer .d-md-flex .flex-item:last-child{text-align: right}
footer .d-md-flex p{margin: 0 ;display: block;font-size: 16px;color: #333;}
footer .d-md-flex p a{color: #333;}
footer .d-md-flex p a:hover{color: #1d3e71;}
.social-media{display: block;padding: 0;margin:0;text-align: center}
.social-media li{display: inline-block;vertical-align: middle;padding: 0 2px;}
.social-media li a{display: block;margin: 0 auto; padding: 0}
.social-media li a:hover{opacity: 0.7;}
.nav-link{display: block;margin: 0;padding: 0}
.nav-link li{display: inline-block;vertical-align: middle;padding: 0 10px;}
.nav-link li a{display: block;margin: 0 auto; padding: 0;color: #333;font-size: 16px;}
.nav-link li a:hover{color: #1d3e71}

ol.list{display: block;padding: 0}
ol.list li{display: block;position: relative;padding-left: 25px;padding-bottom: 5px;color: #333;font-size: 16px;}
ol.list li:before{width: 10px;height: 10px;background: #333;position: absolute; content: '';left: 0; top:7px;-webkit-border-radius: 10px;border-radius: 10px;}

.breadcrumb{display: block;text-align: center;background: rgba(0,0,0,0);padding: 0; margin: 0 auto;padding-top: 10px;}
.breadcrumb li{display: inline-block;padding: 0 }
.breadcrumb li a{color: #FFFFFF;padding:0 5px;font-size: 14px;}


.inner-mainbanner{padding: 80px 0;display: block;background-repeat: no-repeat;background-position: center top;background-size: cover;}
.inner-mainbanner .inner-mainbanner-caption{text-align: center;color: #fff; max-width: 880px;margin: 0 auto;display: block;}
.inner-mainbanner .inner-mainbanner-caption h1{font-size: 32px;font-weight: 700;line-height: normal;margin-bottom: 5px;}
.inner-mainbanner .inner-mainbanner-caption p{color: #fff;font-size: 16px;}

.aside-area{padding: 70px 0}
.aside-area h2{font-size: 32px;color: #787878;font-weight: 600;}
.aside-area h3{font-size: 16px;font-weight: 600;}
.aside-area h4{font-size: 14px;font-weight: 500;}
.aside-area p{color:  #666666;}
.aside-area main{max-width: 770px;width: 67%}
.aside-area aside{max-width: 325px;width: 28%}
.card{margin-bottom: 20px;padding: 15px 10px;border-radius: 0}
.card p{margin: 0;display: block;text-align: left;font-size: 12px;color: #666666;margin-bottom: 10px;font-weight: 500;}
.btn-text{color: #E89B4D;font-size: 16px;font-weight: 500;}
.btn-text:hover{color: #193f70;font-size: 16px;font-weight: 500;}

.nav.nav-pills{padding:10px 15px 0;border:1px solid  rgba(112,112,112,.5);border-bottom: none;}
.nav.nav-pills li{padding:0 15px;display: inline-block}
.nav.nav-pills li a{font-weight: 400;color: #333333;padding:10px 0 5px;display: block;border-bottom: 1px solid rgba(0,0,0,0);-webkit-border-radius: 0; border-radius: 0;}
.nav.nav-pills li a.active,.nav.nav-pills li a:hover{color: #004DE8; background: rgba(0,0,0,0);font-weight: 600;border-color: #004de8}
.tab-content {border:1px solid  rgba(112,112,112,.5);border-top-color: rgba(0, 77, 232, 0.45);}
.tab-content .tab-pane {padding: 25px 20px}
.tab-content ol.list li{font-size: 12px;color: #666;line-height: 22px}

/*** HOME-PAGE STYLE here  ***/
#content-area{padding-top: 80px;}
.main-banner-row{padding-bottom: 0;background-repeat: no-repeat;background-position: center top;background-size: cover;margin-bottom: 130px}
.main-banner-row .banner-caption{text-align: center;color: #fff; max-width: 880px;margin: 0 auto;display: block;padding: 100px 0 0;}
.main-banner-row .banner-caption h1{font-size: 3em;font-weight: 700;line-height: 55px;margin-bottom: 5px;}
.main-banner-row .banner-caption p{color: #fff;font-size: 16px;}

.search-area {background: #E5E5E5;padding:25px 15px;position: relative;z-index: 1;transform: translateY(100px)}
.search-area .searcharea-row{margin-bottom: 10px}
.search-area .searcharea-row .flex-item{-webkit-flex: 1;-moz-flex: 1;-ms-flex: 1;-o-flex: 1;flex: 1;padding: 0 8px}
.search-area .btn{margin: 0 60px;width: calc(100% - 120px);display: block;max-width: 100%;padding: 10px 15px;line-height: 28px}
.search-area select.form-control{border: none;width: 100%;}

.title-row{display: block;margin: 0 auto;text-align: center;padding: 30px 0}
.title-row span{display: inline-block;color: #ccc;font-size: 14px;position: relative;padding: 0 30px;font-size: 16px;letter-spacing: 0.2em}
.title-row span:before,.title-row span:after{width: 8px; height: 8px;background: #E89B4D;position: absolute;content: '';top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%); -webkit-border-radius: 10px; border-radius: 10px;}
.title-row span:after{right: 0;box-shadow: -12px 0 0 0px #E89B4D;}
.title-row span:before{left: 0;box-shadow: 12px 0 0 0px #E89B4D;}
.title-row h2{color: #333;font-weight: 300;line-height: normal; margin: 0 auto;}
.title-row h2 strong{font-weight: 700;}

.counter-block-row{background: #193F70;color: #fff;padding: 50px 0}
.counter-block-row .fx-item{width: auto;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-ms-align-items:center;align-items: center;-webkit-justify-content: flex-start;-moz-justify-content: flex-start;-ms-justify-content: flex-start;-o-justify-content: flex-start;justify-content: flex-start;padding: 0 10px}
.counter-block-row .fx-item figure{margin: 0;}
.counter-block-row .fx-item p{margin: 0;font-size: 14px;color: #6195B9;padding-left:15px;border-left:1px solid #5F94BB;line-height: 30px;margin-left: 15px;}
.counter-block-row .fx-item p strong{margin: 0 auto;display: block;font-size: 30px;font-weight: 700;color: #fff}

.all-coursee-row{padding: 70px 0}
.all-coursee-row .title-row{text-align: left;margin: 0;margin-bottom: 15px;padding: 0}
.all-coursee-row p{font-size: 16px;font-weight: 500;text-align: center;max-width: 900px;margin: 0 auto 10px;}
.courses-slick{display: block;margin:0 auto 40px;padding: 0;width: 100%;}
.courses-slick .slick-next{top: -50px;right:0}
.courses-slick .slick-prev{top: -50px;right:66px;left: auto}
.courses-slide{display: block;margin: 0 auto;}
.courses-slide .slide-item{box-shadow: 0px 3px 6px rgba(0,0,0,0.16); max-width: 370px;display: inline-block;vertical-align: top; margin:15px 13px;width:calc(33.33% - 24px);position: relative}
.courses-slide .slide-item:nth-child(3n + 0){margin-right:5px;}
.courses-slide .slide-item:nth-child(3n + 1){margin-left: 5px;}
.courses-slide .slide-item .price-badge{position: absolute;top: 15px;left: 15px;font-size: 15px;padding:8px 15px}
.courses-slide .slide-item .favrite-icon {position: absolute;right:15px;top: 15px; -webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
.slide-item .favrite-icon:hover{-webkit-transform: scale(.8);-ms-transform: scale(.8);-o-transform: scale(.8);transform: scale(.8);}

.slide-item .courses-cap{padding: 15px;}
.slide-item figure{display: block;margin: 0 auto;}
.slide-item .courses-details{margin-bottom: 15px;}
.slide-item .courses-details p{margin: 0;color: #FFC926;width: 33.33%;text-align: center;line-height: 16px;}
.slide-item .courses-details p span{color: #000}
.slide-item .courses-details p:first-child{text-align: left;border-right:1px solid #707070;color: #E89B4D}
.slide-item .courses-details p:last-child{text-align: right;border-left:1px solid #707070}
.slide-item .courses-cap .badge-light{margin:0 }
.slide-item .courses-cap h3{font-size: 22px;font-weight: 600;color: #000000;display: block;}
.slide-item .courses-cap .courses-caption{font-size: 14px;display: block;text-align: left;color: #707070;}
.slide-item .courses-cap h3 a{color: #000000;}
.slide-item .courses-cap h3 a:hover{color: #e89b4d;}
.slide-item .courses-cap .credit-area{margin: 0 auto;padding: 10px 0 15px}
.slide-item .courses-cap .credit-area p{margin: 0 ;font-size: 16px;font-weight: 500;}
.slide-item .courses-cap .btn{font-size: 16px;font-weight: 700;}
.slide-item .courses-cap .btn:hover{color: #fff;background: #E89B4D;border-color: #e89b4d}

.train-block-row{padding:40px 0 70px}
.train-block-row figure{display: block;max-width: 580px;width: 50%;margin: 0}
.train-block-row .app-caption{width: 45%;margin: 0;max-width: 480px;padding: 15px 20px}
.app-caption h3{font-weight: 300;font-size: 30px;margin: 0 auto 30px}
.app-caption h3 strong{font-weight: 700;}
.app-caption p{font-size: 16px;font-weight: 500;margin: 0 auto 20px}
.app-caption ol{margin: 0 auto 30px;}
.app-caption .btn{margin-top: 10px;font-size: 14px;font-weight: 500;padding: 13px 20px}

.news-block-row{background: #193f70;padding: 50px 0}
.news-caption{margin: 0;display: block;}
.news-caption h4{color: #fff;font-weight:600;font-size: 24px;margin: 0}
.news-caption p{color: #fff;font-size: 16px;margin: 0 auto}
.news-block-row form{margin: 0;width: 45%;text-align: right;max-width: 505px}
.news-block-row .form-group{margin-bottom: 0;text-align: right;}
.news-block-row .form-control{padding: 10px 20px;line-height: 28px;margin: 0;max-width: 400px;width: 80%}
.news-block-row .btn{padding: 10px 20px;line-height: 28px;border-radius: 0;font-family: 'Roboto', sans-serif;font-weight: 800;font-size: 14px;}


.signup-block-row{background: #193f70;padding: 50px 0}
.signup-block-row h3{color: #fff;font-size: 24px;font-weight: 600;margin: 0;padding:0 30px}
.signup-block-row p{color: #fff;padding:0 30px;margin: 0}
.signup-block-row .btn{padding: 5px 20px;line-height: 28px;border-radius: 0;font-family: 'Roboto', sans-serif;font-weight: 800;font-size: 14px;margin-left: 30px;}


.sm-social-media{display: inline-block;vertical-align: middle;}
.sm-social-media a{display: inline-block;vertical-align: middle;margin: 0 2px}
.sm-social-media a:hover{-webkit-transform: scale(.9);-ms-transform: scale(.9);-o-transform: scale(.9);transform: scale(.9);}

.btn-block-row{display: block;margin: 0 auto;text-align: center;padding: 40px 0 0}
.btn-block-row .btn{font-family: 'Roboto', sans-serif;font-weight: 800;padding: 15px 60px}
.speakers-block-row{padding: 40px 0 70px}
.p-speaker{display: block;margin: 0 auto;padding: 0;width: 100%;}
.p-speaker li{display: inline-block;vertical-align:top;width:calc(25% - 26px);text-align: center; box-shadow: 0 6px 10px rgba(0,0,0,.16);padding: 20px 20px 10px;max-width: 270px;margin: 15px 13px;}
.p-speaker li:nth-child(4n + 0){margin-right:2px;}
.p-speaker li:nth-child(4n + 1){margin-left: 2px;}
.p-speaker li .speakers-follow {margin: 0 auto 10px}
.p-speaker li .speakers-nm{font-size: 16px;font-weight: 500;color: #000}
.p-speaker li .speakers-follow span{margin: 0 auto;color: #E89B4D;font-size: 14px;}
.p-speaker li .btn{font-size: 12px;font-weight: 700;padding: 5px 10px}
.p-speaker li figure{display: block;margin: 0 auto 15px;padding: 0;width: auto;max-width: 190px;border: 5px solid #fff;box-shadow:0 0 0 5px #E89B4D;border-radius: 200px;overflow: hidden;}
.p-speaker li p{display: block;margin: 0 auto 15px;color: #707070;display: block}
.p-speaker li .sndbtn-row{padding-top: 15px;}
.ratings{display: inline-block;position: relative;}
.ratings .ratings-fill{display: inline-block;vertical-align: middle;position: absolute;left: 0; top: 0;height: 100%;background-image: url(../images/rating.png);background-repeat: no-repeat;background-position: left top;}

.inner-banner-row{background-repeat: no-repeat;background-position: center center;background-size: cover;background-color: #5f94bb;}
.inner-banner-row .inner-banner-caption h1{font-size: 3em;font-weight: 700;line-height: 55px;margin-bottom: 5px;}
.inner-banner-row .inner-banner-caption p{color: #fff;font-size: 16px;}
.inner-banner-row ol{margin: 0 auto;padding-top: 20px;}
.inner-banner-row ol li{color: #fff;display:block;font-size: 18px;padding-bottom: 5px}

.inner-banner-row .inner-banner-caption{text-align: center;color: #fff; max-width: 880px;margin: 0 auto;display: block;padding: 100px 0 150px;}
.inner-banner-row .inner-banner-caption h1{font-size: 3em;font-weight: 700;line-height: 55px;margin-bottom: 5px;}
.inner-banner-row .inner-banner-caption p{color: #fff;font-size: 16px;}

.login-area{margin-top: -100px;background: #e5e5e5;padding:25px 20px;margin-bottom: 100px;}

.cource-detail-box {margin-bottom: 30px}
.cource-detail-box .btn-secondary{text-align: center;font-size: 16px;display: block;background: #697EA4;padding-top: 10px;padding-bottom: 10px;border: 2px solid rgba(0,0,0,0)}
.cource-detail-box .btn-secondary:hover{color: #697ea4;background: #fff;border-color: #697ea4}
.cource-detail-box .card{padding: 0;background: #EEF1F6;border:1px solid rgba(112,112,112,.5);}
.cource-detail-box .card-header{text-align: center;background: #697EA4;color: #fff;font-size: 16px;margin: 0;}
.cource-detail-box .card-body{padding: 0}
.cource-detail-box .card-body p{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;border-bottom: 1px solid #707070;padding:15px;margin: 0}
.cource-detail-box .card-body :last-child{border-bottom: none;}
.cource-detail-box .card-body p span{min-width: 140px;display: inline-block;vertical-align: top;}
.cource-detail-box .card-body p strong{padding-left: 10px;}

.courses-title p strong{display: block;}
.courses-title .date-col{margin: 0;width:auto;padding-right: 30px;}
.courses-title .time-zone{margin: 0;width: auto;padding-left: 30px;border-left: 1px solid #707070}
.courses-title .social-media{width: auto;text-align: right;margin-left: auto}
.courses-title .time-zone select.form-control{display: block; max-width: 150px;width: 100%;border:1px solid #666;padding: 5px 10px;padding-right: 30px;line-height: 18px;margin-top: 5px;}
.post-block{ padding: 20px 0}
.post-block iframe{display: block; margin: 0 auto;width: 100%; height: 400px;background: #000;}
.tab-row{padding:30px 0}
.sponser-box{padding: 20px 0}
.sponser-box p{color: #666666;margin: 0}
.sponser-box img{margin: 0}

.team-list{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;-ms-align-items: flex-start;align-items: flex-start;-webkit-justify-content: flex-start;-moz-justify-content: flex-start;-ms-justify-content: flex-start;-o-justify-content: flex-start;justify-content: flex-start;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;-o-flex-wrap: wrap;flex-wrap: wrap;padding: 0;margin: 0 0 40px}
.team-list li{border:1px solid rgba(112,112,112,.5);width: 25%;display: inline-block;}
.team-list li figure{margin: 0 auto; padding: 0; display: block;position: relative;overflow: hidden}
.team-list li figure:before{position: absolute;content: '';background: transparent;height: 80%; width:100%;border-radius: 50%;max-height: 230px;box-shadow: 0px 0px 0 180px #fff;top: 30px; left: 30px; right: 30px;width:auto;-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
.team-list li a{position: relative;display:block;width: 100%}
.team-list li a:hover figure:before{-webkit-transform: scale(3);-ms-transform: scale(3);-o-transform: scale(3);transform: scale(3);}
.team-list li a img{-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
.team-list li a .arrow-next{padding: 1rem;margin: 0;position: absolute;top: auto;right:30px;z-index: 9;background: #fff;opacity: 1;border-radius: 50px;line-height: 40px;padding: 6px;width: 50px;height: 50px;background-image: url(../images/team-arrow.png);background-repeat: no-repeat;background-position: center center;box-shadow: 0 3px 6px rgba(0,0,0,0.16);bottom: 35%}
.team-list li .emp-detail{display: block;margin: 0 auto;position: absolute;bottom:30px;color: #333333;left: 30px;width: auto;right: 30px}
.team-list li a:hover .emp-detail{color: #fff;-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
.team-list li .emp-detail .emp-name{font-size:20px;font-weight: 600;display: block;}
.team-list li .emp-detail .emp-des{font-size: 16px;font-weight: 400;display: block;}

.modal .close {padding: 1rem;margin: 0;position: absolute;top: -25px;right: -25px;z-index: 9;background: #fff;opacity: 1;border-radius: 50px;line-height: 40px;padding: 6px;width: 50px;height: 50px;background-image: url(../images/close-icon.png);background-repeat: no-repeat;background-position: center center;box-shadow: 0 3px 6px rgba(0,0,0,0.16)}
.member-profile{max-width: 270px;padding:20px 10px 20px 20px}
.member-data{max-width: 520px;padding:20px 20px 20px 10px}
.member-data .title-row{text-align: left;display: block;padding: 0;border-bottom: 1px solid #707070;margin-bottom: 20px}
.member-data .title-row h2{font-size: 20px;font-weight: 600;color: #333;margin-bottom: 5px}
.modal p{font-size: 14px;color: #333;}
.modal h3{font-size: 16px;color: #333;font-weight: 600;}
.member-profile img{max-height: 240px;object-fit: cover;width: 100%;margin-bottom: 20px}
.member-profile p{font-size: 16px;font-weight: 600;}
.member-profile p a{color: #333333;font-size: 14px;display: block;font-weight: 400;}
.member-profile .social-media{text-align: left;}
.member-profile .social-media img{margin: 0}
.modal-backdrop.show{opacity: .25}
.member-data .title-row p{font-size: 16px;font-weight: 400;color: #333;}
.team-list-title{text-align: left;padding:50px 0 40px}
.team-list-title h2{color: #787878;font-weight: 600;font-size: 32px;text-align: left;margin-bottom: 10px}
.team-list-title p{color: #666666;font-weight: 400;line-height: 28px}
